fastapi==0.115.11
uvicorn
gunicorn
sqlmodel
pydantic
sqlalchemy
timescaledb
requests
python-decouple
psycopg2-binary>=2.9.9  # PostgreSQL adapter for Python
### ipykernel -> only for testing in Jupyter, not for docker container  -> uv add ipykernel
faker
### autoformatters
autopep8
# black
# yapf
# ruff

