fastapi
uvicorn
gunicorn
sqlmodel
pydantic
sqlalchemy
timescaledb
requests
python-decouple
psycopg[binary] # psycopg v3
# psycopg2-binary>=2.9.9  # PostgreSQL adapter for Python
### ipykernel -> only for testing in Jupyter, not for docker container  -> uv add ipykernel
# faker
### autoformatters
# autopep8
# black
# yapf
# ruff
# Explicitly include SQLAlchemy PostgreSQL driver
# sqlalchemy[postgresql_psycopg2binary]

